<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>  <a href="/course/{{this._id}}/edit">Sua</a></td>
      <td>  <a href="">Xoas</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>