<div class="mt-4">
    <div class="container">
        <h3>Dang khoa hoc</h3>
    <form method="post" action="/course/store">
        <div class="form-group ">
            <label for="NameCourse">Name Course</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter course">
        </div>
        <div class="form-group">
            <label for="Description">Mo Ta Khoa Hoc</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Enter course">
        </div>
        <div class="form-group">
            <label for="VideoId">Id Video Course</label>
            <input type="text" class="form-control" id="videoId" name="videoId"  placeholder="Enter course">
        </div>
        <button type="submit" class="btn btn-primary">Dang ky khoa hoc</button>
    </form>
    </div>
    
</div>