<h1>Home Handlebars</h1>

{{#each courses}}
    <h1>hhhh</h1>
    <a href="course/{{this.slug}}" class=""> <li>{{this.name}}</li></a>
    <li>{{this.description}}</li>
    <img src="{{this.img}}" alt="none">
{{/each}}