<form method="post">
  <div class="form-group mt-4" >
    <label for="searcch">Email address</label>
    <input type="text" name="p" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Enter ">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>